
@font-face {
  font-family: arciform;
  src: url(../fonts/Arciform.otf);
}
body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.4rem;
}
.bg-frixel-color {
  background-color: #246d90 !important;
}

.text-frixel-color{
  color: #246d90;
}
.text-pretoroxov:hover{
  color: #246d90;
}

.btn-frixel-color{
  color: white;
  background-color: #246d90;
}

.btn-frixel-color:hover{
  color: white;
  background-color: #246d90;
}

.navbar-menu-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(36, 109, 144, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}